body {
	box-sizing: border-box;
	margin: 0;
	font-family: "Lucida Console", "Courier New", monospace;
	background: lavender;
	font-size: 15px;
}

.visually-hidden:not(focus):not(active){
	clip: rect(0, 0, 0, 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

header {
	text-align: center;
	padding: 1em;

	h1 {
		margin: 0;
	}
}

main {
	height: 88vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding-left: 0.5em;
	padding-right: 0.5em;

	section {
		border-top: 5px solid black;
		display: grid;
		grid-template-rows: 4.5vh 4fr;
	
		h2 {
			justify-self: center;
		}

		form {
			padding: 1em;
			display: flex;
			flex-direction: column;
			
			label {
				margin-top: 0.5em;
			}

			input,
			textarea {
				min-height: 1.5em;
				margin-bottom: 1em;
			}

			button {
				font-size: x-large;
				margin-bottom: 0;
			}
		}

		ul {
			margin: 1em;
			padding: 0;
			list-style: none;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: min-content;
			grid-gap: 2em;

			li {
				border-radius: 0.8em;
				border:  2px solid black;
				background-color: whitesmoke;
				padding:  0.5em;
				margin-top: 1.4em;

			}
		}

		/*:last-of-type {
			border-left: 3px solid black;
		}*/
	}
}
